# Checking with 'udevadm info --path=/sys/class/video4linux/video0 --attribute-walk'

SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 30-002b", SYMLINK+= "gmsl/tier4-imx490-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 30-001d", SYMLINK+= "gmsl/tier4-isx021-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 30-002c", SYMLINK+= "gmsl/tier4-imx490-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 30-001e", SYMLINK+= "gmsl/tier4-isx021-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 31-002b", SYMLINK+= "gmsl/tier4-imx490-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 31-001d", SYMLINK+= "gmsl/tier4-isx021-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 31-002c", SYMLINK+= "gmsl/tier4-imx490-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 31-001e", SYMLINK+= "gmsl/tier4-isx021-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 32-002b", SYMLINK+= "gmsl/tier4-imx490-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 32-001d", SYMLINK+= "gmsl/tier4-isx021-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 32-002c", SYMLINK+= "gmsl/tier4-imx490-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 32-001e", SYMLINK+= "gmsl/tier4-isx021-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 33-002b", SYMLINK+= "gmsl/tier4-imx490-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 33-001d", SYMLINK+= "gmsl/tier4-isx021-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 33-002c", SYMLINK+= "gmsl/tier4-imx490-cam8"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 33-001e", SYMLINK+= "gmsl/tier4-isx021-cam8"
