# Checking with 'udevadm info --path=/sys/class/video4linux/video0 --attribute-walk'

# for JetPack 5.x (L4T R35.x)
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 30-002b", SYMLINK+= "gmsl/tier4-imx490-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 30-001b", SYMLINK+= "gmsl/tier4-isx021-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 30-002c", SYMLINK+= "gmsl/tier4-imx490-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 30-001c", SYMLINK+= "gmsl/tier4-isx021-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 31-002b", SYMLINK+= "gmsl/tier4-imx490-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 31-001b", SYMLINK+= "gmsl/tier4-isx021-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 31-002c", SYMLINK+= "gmsl/tier4-imx490-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 31-001c", SYMLINK+= "gmsl/tier4-isx021-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 32-002b", SYMLINK+= "gmsl/tier4-imx490-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 32-001b", SYMLINK+= "gmsl/tier4-isx021-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 32-002c", SYMLINK+= "gmsl/tier4-imx490-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 32-001c", SYMLINK+= "gmsl/tier4-isx021-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 33-002b", SYMLINK+= "gmsl/tier4-imx490-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 33-001b", SYMLINK+= "gmsl/tier4-isx021-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 33-002c", SYMLINK+= "gmsl/tier4-imx490-cam8"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 33-001c", SYMLINK+= "gmsl/tier4-isx021-cam8"

# for JetPack 6.x (L4T R36.x)
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 9-001b", SYMLINK+= "gmsl/tier4-isx021-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 9-001c", SYMLINK+= "gmsl/tier4-isx021-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 10-001b", SYMLINK+= "gmsl/tier4-isx021-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 10-001c", SYMLINK+= "gmsl/tier4-isx021-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 11-001b", SYMLINK+= "gmsl/tier4-isx021-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 11-001c", SYMLINK+= "gmsl/tier4-isx021-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 12-001b", SYMLINK+= "gmsl/tier4-isx021-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_isx021 12-001c", SYMLINK+= "gmsl/tier4-isx021-cam8"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 9-002b", SYMLINK+= "gmsl/tier4-imx490-cam1"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 9-002c", SYMLINK+= "gmsl/tier4-imx490-cam2"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 10-002b", SYMLINK+= "gmsl/tier4-imx490-cam3"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 10-002c", SYMLINK+= "gmsl/tier4-imx490-cam4"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 11-002b", SYMLINK+= "gmsl/tier4-imx490-cam5"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 11-002c", SYMLINK+= "gmsl/tier4-imx490-cam6"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 12-002b", SYMLINK+= "gmsl/tier4-imx490-cam7"
SUBSYSTEM=="video4linux", ATTR{name}=="vi-output, tier4_imx490 12-002c", SYMLINK+= "gmsl/tier4-imx490-cam8"

